@font-face {
    font-family: 'aileronblack';
    src: url('Aileron-Black-webfont.eot');
    src: url('Aileron-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('Aileron-Black-webfont.woff2') format('woff2'),
         url('Aileron-Black-webfont.woff') format('woff'),
         url('Aileron-Black-webfont.ttf') format('truetype'),
         url('Aileron-Black-webfont.svg#aileronblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

$primary-color: #fff;
$secondary-color: #0E5F76;
$third-color: #24272b;
$whitesade: #f3f5da;
$main-font: 'Muli', sans-serif;
$secondary-font: 'Vollkorn', serif;
$third-font : 'aileronblack', sans-serif;
$show-home-image: true;
$home-image: url("../img/background3.jpg");
$background-opacity: 0.3;

@mixin easeOut {
  transition: all 0.3s ease-out;
}
@mixin boxShadow {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(36,39,43,0.4);
-moz-box-shadow: 0px 0px 5px 0px rgba(36,39,43,0.4);
box-shadow: 0px 0px 5px 0px rgba(36,39,43,0.4);
}
@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;

      &:after {
        content:'';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba($third-color, $background-opacity);
        z-index: -1;
      }
    }
  }
}

// Set text $primary-color
@function set-text-color($color){
  @if (lightness($color)>40){
    @return #24272b;
  } @else {
    @return #fff;
  }
}

// Media Query mixin

@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}
@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}
@mixin mediaXl {
  @media screen and (min-width: 1171px)  {
    @content;
  }
}
