@import 'config';
@import 'menu';
@import 'skillbars';
@import url('https://fonts.googleapis.com/css?family=Muli|Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap');

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  margin: 0;
  font-family: $main-font;
  line-height: 1.2;
}
//headings

h1,
h2,
h3 {
  margin: 0;

  &.lg-heading {
    padding-top: 2rem;
    font-size: 5rem;
    font-family: $third-font;
    font-weight: normal;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    font-size: 1.4rem;
    padding: 0.4rem 0.5rem;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {

  padding: 3rem;
  //height: 100%;
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;
      color: set-text-color($primary-color);

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;

    h1 {
      margin-top: 20vh;
    }
  }

  &#about,
  &#contact,
  &#work {
    background-color: $whitesade;
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bio bio bioimage' 'job1 job2 job3';
  grid-template-columns: repeat(3,1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: 2px solid $secondary-color;
    width: 250px;
    height: 250px;
  }

  .bio {
    grid-area: bio;
    @include boxShadow;
    padding: 1rem;
    border: 1px solid $secondary-color;
    border-radius: 5px;
    background-color: $primary-color;

    h3 {
      border-bottom: 1px solid $secondary-color;
      padding-bottom: 1rem;
    }
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;

    a {
      display: flex;
      justify-content: center;

      .diploma {
        height: 320px;
        @include easeOut;

        &:hover {
          height: 330px;
        }
      }
    }
  }

  .job {
    background: $primary-color;
    @include boxShadow;
    padding: 1rem;
    border: 1px solid $secondary-color;
    border-radius: 5px;

    h3 {
      border-bottom: 1px solid $secondary-color;
      padding-bottom: 1rem;
    }
  }
}
// Work/Projects

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);

  .item {
    background: $primary-color;
    @include boxShadow;
    padding: 1rem;
    border: 1px solid $secondary-color;
    border-radius: 5px;
  }

  img {
    width: 100%;
    border-radius: 1px;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}
//Contact page


.boxes {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-areas: 'form form form sideInfo';
  grid-template-columns: repeat(3,1fr);

  .sideInfo {
    grid-area: sideInfo;
    padding: 2rem;
    background-color: $secondary-color;
    color: $primary-color;
    border-radius: 5px;
    line-height: 2;
    @include boxShadow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;


    .copyBtn {
      background-color: $primary-color;
      color: $secondary-color;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      border-style: none;
      font-weight: bold;
      font-size: 20px;
      cursor: pointer;
    }




  }

  .form {
    grid-area: form;
    padding: 1rem;
    background-color: $primary-color;
    border-radius: 5px;
    border: 1px solid $secondary-color;
    @include boxShadow;
    text-align: left;

    h3 {
      padding-bottom: 1rem;
      border-bottom:  1px solid $secondary-color;
      margin-bottom: 2rem;
    }

    label {
      font-weight: bold;
    }


    input[type=text],
    select,
    textarea {
      width: 100%;
      padding: 1rem;
      border: 1px solid $secondary-color;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }

    input[type=submit] {
      background-color: $secondary-color;
      color: white;
      padding: 15px 80px;
      border: none;
      border-radius: 5px;
      cursor: pointer;

    }

    input[type=submit]:hover {
      border: 1px solid $secondary-color;
      background-color: $primary-color;
      color: $secondary-color;
      padding: 14px 80px;

    }
  }
}
// Button Styles

.btn {
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 1px;
  margin-bottom: 0.3rem;

  &:hover {
    background: $secondary-color;
    color: $primary-color;
  }
}

.btn-dark {
  @extend .btn;
  background: $third-color;
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($third-color,70);
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: $third-color;
  color: set-text-color($third-color);
  height: 50px;
}
@import 'mobile';
